@model FYP_RSVP_MGMT.ViewModels.GuestListViewModel

@{
    ViewData["Title"] = "Guest RSVP";
}

@* Form to submit RSVP Response *@

@using (var form = Html.BeginForm("CreateUpdate", "GuestList", FormMethod.Post))
{
    <div class="container" id="GuestRSVP">

        <br />
        <br />
        <br />

        @* The Bride and Groom name plus Wedding Details will eventually change 
            depending on the log in details *@

        <h3> Welcome to [Bride] and [Groom]'s Wedding</h3>
        <h4>[Church Location]</h4>
        <h4>[Wedding Date and Time]</h4>

        <div class="container" id="RSVPTable" style="align-content:center">

            <table>

                <tr>
                    <td>Guest Name: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.GuestName)</td>

                </tr>

                <tr>
                    <td>Guest Type: </td>
                    <td>@Html.DropDownListFor(m => m.EditableGuest.GuestType, new List<SelectListItem> { new SelectListItem { Value = "Guest", Text = "Guest" }, new SelectListItem { Value = "Wedding Party", Text = "Wedding Party" } })</td>
                </tr>

                <tr>
                    <td>Email Address: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.ContactDetails)</td>
                </tr>

                <tr>
                    <td>Plus One: </td>
                    <td>@Html.CheckBoxFor(m => m.EditableGuest.PlusOne)</td>
                </tr>

                <tr>
                    <td>Plus One Name: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.PlusOneName)</td>
                </tr>

                <tr>
                    <td>RSVP Response:</td>
                    <td>@Html.DropDownListFor(m => m.EditableGuest.GuestResponse, new List<SelectListItem> { new SelectListItem { Value = "Accept", Text = "Accept with Pleasure" }, new SelectListItem { Value = "Decline", Text = "Decline with Regret" } })</td>
                </tr>

            </table>

            <br/>

            <button class="btnSubmitRSVP" type="submit" style="text-align:center"> <a asp-controller="GuestList" asp-action="CreateUpdate"></a> @(Model.EditableGuest.GuestID > 0? "Update": "Submit Response") </button>


        </div>


    </div>
}

<br/>
<br/>

