@model FYP_RSVP_MGMT.ViewModels.GuestListViewModel

@{
    ViewData["Title"] = "Guest RSVP";
}

@using (var form = Html.BeginForm("CreateUpdate", "GuestList", FormMethod.Post))
{
    <div class="container" id="GuestRSVP">

        <br />
        <br />
        <br />

        <h3> Welcome to [Bride] and [Groom]'s Wedding</h3>
        <h4>[Church Location]</h4>
        <h4>[Wedding Date and Time]</h4>

        <div class="container" id="RSVPTable" style="align-content:center">

            <table>

                <tr>
                    <td>@Html.HiddenFor(m => m.EditableGuest.GuestID)</td>
                </tr>


                <tr>
                    <td>Guest Name: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.GuestName)</td>

                </tr>

                <tr>
                    <td>Guest Type: </td>
                    <td>@Html.DropDownListFor(m => m.EditableGuest.GuestType, new List<SelectListItem> { new SelectListItem { Value = "Guest", Text = "Guest" }, new SelectListItem { Value = "Wedding Party", Text = "Wedding Party" } })</td>
                </tr>

                <tr>
                    <td>Contact Details: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.ContactDetails)</td>
                </tr>

                <tr>
                    <td>Plus One: </td>
                    <td>@Html.CheckBoxFor(m => m.EditableGuest.PlusOne)</td>
                </tr>

                <tr>
                    <td>Plus One Name: </td>
                    <td>@Html.TextBoxFor(m => m.EditableGuest.PlusOneName)</td>
                </tr>

                <tr>
                    <td>RSVP Response:</td>
                    <td>@Html.DropDownListFor(m => m.EditableGuest.Response, new List<SelectListItem> { new SelectListItem { Value = "Accept with Pleasure", Text = "Accept with Pleasure" }, new SelectListItem { Value = "Decline with Regret", Text = "Decline with Regret" } })</td>
                </tr>


                <tr>
                    <td><button class="btnSubmitRSVP" type="submit"> <a asp-controller="ResponseController" asp-action="Index"></a> @(Model.EditableGuest.GuestID > 0? "Update": "Add") </button></td>
                    <td></td>
                </tr>

            </table>


        </div>


    </div>
}

<br/>
<br/>

