@model FYP_RSVP_MGMT.ViewModels.GuestListViewModel

@{
    ViewData["Title"] = "Guest RSVP";
}


<div class="container" style="text-align: center">


    <table id="CouplesView">
        <tr>
            <th><b>Guest Name: </b></th>
            <th><b>Guest Type: </b></th>
            <th><b>Contact Details: </b></th>
            <th><b>Plus One: </b></th>
            <th><b>Plus One Name: </b></th>
            <th><b>Response: </b></th>
        </tr>


        @foreach (var guest in Model.Guests)
        {
            <tr id="rsvp">
                <td>@guest.GuestName</td>
                <td>@guest.GuestType</td>
                <td>@guest.ContactDetails</td>
                <td>@guest.PlusOne</td>
                <td>@guest.PlusOneName</td>
                <td>@guest.GuestResponse</td>

            </tr>
        }

    </table>

    

</div>