@model GuestList

@{
    ViewData["Title"] = "Client Contact";
}

@using (var form = Html.BeginForm("AddGuest", "GuestList", FormMethod.Post))
{
    <div class="container">

        <br/>
        <br/>
        <br/>

        <h3> Welcome to [Bride] and [Groom]'s Wedding</h3>
        <h4>[Church Location]</h4>
        <h4>Wedding Date and Time</h4>

        <table id="GuestRSVP">

            <tr>
                <td>Guest Name: </td>
                <td>@Html.TextBoxFor(m => m.GuestName)</td>
            </tr>

            <tr>
                <td>Guest Type: </td>
                <td>@Html.DropDownListFor(m => m.GuestType, new SelectList(Enum.GetValues(typeof(GuestType))), "Guest Type")</td>
            </tr>

            <tr>
                <td>Contact Details: </td>
                <td>@Html.TextBoxFor(m => m.ContactDetails)</td>
            </tr>

            <tr>
                <td>Plus One: </td>
                <td>@Html.CheckBoxFor(m => m.PlusOne)</td>
            </tr>

            <tr>
                <td>Plus One Name: </td>
                <td>@Html.TextBoxFor(m => m.PlusOneName)</td>
            </tr>

            <tr>
                <td>RSVP Response:</td>
                <td>@Html.DropDownListFor(m => m.Response, new SelectList(Enum.GetValues(typeof(Response))), "RSVP Response")</td>
            </tr>


        </table>


    </div>
}
